.jumbotron{

    text-align: center;
    background: none;
    
    
}

.sectionLight{
    
    background-color: #eceeef;
    padding: 2rem;
  
}

.sectionDark{

    background-color: #ccc;
    padding: 2rem;
}

.coolStuffwrapper{
    margin-top: 20px;
}


button.coolStuffwrapperBtn{

    background-color: red;
    color: #fff;
    display: block;
    margin: auto;
    cursor: default;

}

h5.modal-title{
    margin-left: 30%;
}

.modalFormwrapper{

    padding: 2rem;
}

.imgCenter{
    display: block;
    margin: auto;
}

.btnCenter{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 60%;
}

.footerImg{

    padding: 15px;
}

.fa{
    margin: 10px;
}

.socialWrapper{
    margin: auto;
}
.fa-facebook-square{

    color: #3b5998;
}

.fa-google-plus-square {

    color: #c32f10;
}

.fa-instagram{

    color: #fff;
}